{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "last 3 major versions",
          "Firefox ESR",
          "Chrome >= 53",
          "not dead",
          "not ie 11",
          "not baidu 13.52",
          "not and_qq 14.9",
          "not and_uc 15.5",
          "not kaios 2.5",
          "not op_mini all",
          "not op_mob 80"
        ],
        "bugfixes": true,
        "loose": true
      }
    ]
  ]
}
